.text-zone {
    border: dotted red;
    position: absolute;
    left: 5%;
    top: 20%;
    transform: translateY(-50%);
    width: 85%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
}