.landing-page {
    .gallery-zone-1 {
        position: absolute;
        background-color: #fff;
        height: 100%;
        width: 100%;

        img {
            position: absolute;
            max-height: 100%;
            top: 50%;
            transform: translate(0, -50%);
        }
    }

    .gallery-zone-2 {
        position: absolute;
        background-color: #ffd700;
        height: 100%;
        left: 82.5%;
        width: 17.5%;
    }

    h1 {
        color: #fff;
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

    }

    h2 {
        display: inline-block;
        color: #fff;
        margin-top: 20px;
        font-weight: 400;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
    }
}


.header-2 {
    display: inline
}

.flat-button {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #fff;
    margin-top: 25px;
    float: left;

}