@import "~react-image-gallery/styles/scss/image-gallery.scss";

.house-page {

    .room-nav-bar {
        position: absolute;
        background-color: #fff;
        height: 60px;
        left: 50%;
        transform: translate(-50%);
        width: 60%;
        border: dotted red;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding: 5px;
        column-gap: 25px;
    
        .grid-item {
            border: dotted red;
            text-align: center;
            font-size: 30px;
        
            .button {
                border: none;
                font-size: 16px;
                padding: 12px;
                height: 100%;
                width: 100%
            }


            .button-active {
                background: red;
                border: none;
                font-size: 16px;
                padding: 12px;
                height: 100%;
                width: 100%
            }
        
        }

    }

    .gallery-zone {
        border: dotted red;
        background: white;
        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
        height: 70%;
        width: 80%;
    }

}